{{! from https://github.com/TryGhost/Ghost/blob/master/core/server/helpers/tpl/pagination.hbs }}
<nav class="pagination" role="navigation">
  <div>
    {{#if pagination.prev}}
      <a class="newer-posts" href="{{page_url pagination.prev}}">&larr; Plus récents</a>
    {{/if}}
    <span class="page-number">Page {{pagination.page}} sur {{pagination.pages}}</span>
    {{#if pagination.next}}
      <a class="older-posts" href="{{page_url pagination.next}}">Plus anciens &rarr;</a>
    {{/if}}
  </div>
</nav>
